html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --cell-width: 5%;
  --cell-height: 5%;
}

body {
  margin: 0;
}

h1 {
  color: red;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #000000;
}

.cell {
  width: var(--cell-width);
  height: var(--cell-height);
  border: 1px solid #000000;
}

.alive {
  background: #ff0000;
}

.dead {
  background: #ffffff;
}

.go {
  background: #008000;
}

.no-go {
  background: #808080;
}
